<!DOCTYPE html>
<html>
<head>
	<title>Button Sani Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../css/sani.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
</head>
<body>
	<div style="padding: 10px">
		<label>
			Rounded Button
			<br>
		</label>
		<button type="button" class="btn btn-default">Default</button>
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-link">Link</button>
	</div>

	<div style="padding: 10px">
		<label>
			Flat Button
			<br>
		</label>
		<button type="button" class="btn-flat btn-default">Default</button>
		<button type="button" class="btn-flat btn-primary">Primary</button>
		<button type="button" class="btn-flat btn-success">Success</button>
		<button type="button" class="btn-flat btn-info">Info</button>
		<button type="button" class="btn-flat btn-warning">Warning</button>
		<button type="button" class="btn-flat btn-danger">Danger</button>
		<button type="button" class="btn-flat btn-link">Link</button>
	</div>
</body>
</html>