$color-white: rgba(255, 255, 255, 1.0);
$color-black: rgba(0, 0, 0, 1.0);

/// Z-indexes map, gathering all Z layers of the application
/// @access public
/// @type Map
/// @prop {String} key - Layer's name
/// @prop {Number} value - Z value mapped to the key
$z-indexes: (
  'modal': 5000,
  'dropdown': 4000,
  'default': 1,
  'below': -1,
);

/// Breakpoints map, gathering all size type of the screen
/// for media query purpose
/// @access public
/// @type Map
/// @prop {String} key - size type
/// @prop {Number} value - screen size value mapped to the key
$breakpoints: (
  'tiny':   ( max-width:  767px ),
  'small':  ( min-width:  768px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px ),
  'custom': ( min-height:  40em )
);

/// color map, gathering all color of the application
/// @author Achmad Ricky Budianto
/// @access public
/// @type Map
/// @prop {String} key - Layer's name
/// @prop {Number} value - Z value mapped to the key
$colors: (
  'btn-primary-color': rgba(41, 128, 185, 1.0),
  'btn-success-color': rgba(46, 204, 113, 1.0),
  'btn-info-color': rgba(89, 171, 227, 1.0),
  'btn-warning-color': rgba(243, 132, 32, 1.0),
  'btn-danger-color': rgba(231, 76, 60, 1.0),
  'btn-default-color': rgba(255, 255, 255, 1.0),
  'link-color': rgba(33, 150, 243, 1.0)
);